# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code configuration (optional to exclude)
.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# iOS and macOS (not needed for this project)
ios/
macos/

# Windows, Linux, and Web (not needed for this project)
windows/
linux/
web/

# Android Studio artifacts
/android/.gradle/
/android/app/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
/android/app/google-services.json
